* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

input,
textarea,
button,
select {
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 120px;
  line-height: 25px;
  background: #fff;
  border-radius: 999px;
  border: 1px solid #1e8ad2;
  color: #1e8ad2;
  font-size: 1.4rem;
  font-weight: 400;
  transition: 0.5s;
}
.btn:hover {
  color: #fff;
  background: #1e8ad2;
}
.desc {
  font-size: 1.6rem;
  line-height: 1.67;
  font-weight: 500;
  margin-bottom: 30px;
  color: #8b8686;
}

.rectangle {
  display: inline-block;
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  border-radius: 999px;
}
/* ================================================================================= */
head {
  position: relative;
}
.head__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 75px;
}

.head__logo {
  width: 100px;
  height: 50px;
}

.list {
  display: flex;
  align-items: center;
}
.item {
  font-size: 1.6rem;
  padding: 5px 15px;
  color: #8b8686;
  line-height: 161%;
}
.item:hover {
  text-shadow: 0px 0px 1px #000;
  color: #000;
}
.active {
  text-shadow: 0px 0px 1px #000;
  color: #000;
}
.head__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head__left {
  width: 35%;
}
.head__heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.67;
  margin-bottom: 20px;
}
.head__btn {
  color: #fff;
  background: #1e8ad2;
}

.head__btn:hover {
  background: #fff;
  color: #1e8ad2;
  border: 1px solid #1e8ad2;
}

.head__img {
  width: 600px;
  height: 510px;
  object-fit: cover;
}

.head__dot {
  position: absolute;
  top: 120px;
  left: -40px;
}
.dot {
  display: flex;
  align-items: center;
}
.dot span {
  display: inline-block;
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3dbad970;
}

.services {
  margin-top: 150px;
  position: relative;
}

.services__top {
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

.services__heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.67;
}

.services__rectangle {
  margin-top: 10px;
  margin-bottom: 20px;
}
.services__desc {
  margin-bottom: 50px;
}

.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: #f6faff;
}
.services__dot {
  position: absolute;
  top: 515px;
  right: 140px;
}

.services__bottom--img {
  width: 938px;
  height: 670px;
  rotate: 21deg;
  position: absolute;
  top: 65px;
  left: -90px;
}

.service__item{
  background:#fff;
  z-index: 1;
  padding: 30px;
}

.services__heading2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.67;
  margin-top: 20px;
  margin-bottom: 10px;
}
.services__img{
  width: 100px;
  height: 100px;
}
.services__desc{
  font-size: 1.8rem;
  line-height: 1.67;
}

.services__bottom--btn{
  text-align: center;
  margin-top: 20px;
}